
.container.header {

    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
    justify-content:space-between;
    position: relative;
    border: 1px;
    border-color: red;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--accent-color);
& > span {
    color: var(--logo-color);
}
}


.nav-list {
@media  screen and (min-width: $desktop) {
     display: flex;
    margin-left: 93px;
}
}
  .nav-item{
    @media screen and (max-width: $tablet){
        margin-top: 64px;
    }
  }
.contact-list {

    
  
    @media screen and (min-width:$tablet) {
            margin-left: 300px;
            display: flex;
              -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
        }
}
.contacts-icon {
    fill: rgb(117, 117, 117);
}

.nav-item:not(:first-child),
.contacts-item:not(:first-child) {
   @media screen and (min-width:$tablet) {
    margin-left: 50px;
   } 
}

.nav-link,
.contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.contacts-icon:hover,
.contacts-icon:focus,
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}

.contacts-link {
    color: var(--primary-text-color);
}

.nav-link {
    color: var(--primary-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
}

.contact-list {

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @media screen and (max-width:$tablet) {
            flex-direction: column-reverse;
         
        }
    @media screen and (min-width:$tablet) {
            
    display: flex;
        }
}.viutils{
    display: inline-block;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
  position: absolute;
  background-color: red;

  z-index: 5;
  @media screen and (min-width:$tablet){
    display: none;
  }
}
.mobile{
 @media screen and (max-width: 767px) {
    display: none;
        position: absolute;
        top: 0;
        right: 0;
        padding: 48px;
        width: 480px;
        height: 796px;
        background-color: #fff;
  
       justify-content: space-between;
    
        &.is-open {
            display: block;
        }
 }
    
 }


.close-pop{
    display: none;
}
.viutils.is-open .close-pop{
    display: block;

}
.viutils.is-open .open-pop {
    display: none;

}