:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --logo-color: #000000;
    --accent-color: #2196f3;
    --background-color: #ffffff;
    --hero-backrount-color: #2f303a;
    --portfolio-color: #f5f4fa;
}
body {
    font-family: Roboto;
    font-style: normal;
    color: var(--primary-text-color);
    background-color: var(--background-color);
    letter-spacing: 0.03em;
}
ul,
p,
h1,
h2,
h3,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sekshion {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
  
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
@media screen and (min-width: $mobile) {
        width: $mobile;
    }

    @media screen and (min-width: $tablet) {
        width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop;
    }
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
H1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--background-color);
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}