:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --logo-color: #000000;
    --accent-color: #2196f3;
    --background-color: #ffffff;
    --hero-backrount-color: #2f303a;
    --portfolio-color: #f5f4fa;
}
body {
    font-family: Roboto;
    font-style: normal;
    color: var(--primary-text-color);
    background-color: var(--background-color);
    letter-spacing: 0.03em;
}
ul,
p,
h1,
h2,
h3,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sekshion {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--accent-color);
}

.logo>span {
    color: var(--logo-color);
}